#search-result{
	padding:10px;
	background:#333;
	color:#FFF;
	margin-bottom:10px;
	border-radius:3px;
	font-size:14px;}
#search-result span{
	color:#FFFF00;}	

.pagination ul{
	float:right;
	margin-top:20px;}
.pagination ul li a.page-link{
	color:#333333;}			
.pagination ul li a.page-link:hover{
	background:#EB1F27;
	color:#FFF;}
.pagination ul li.active a{
	background:#EB1F27;
	border-color:#dee2e6;
	color:#FFF;}		
/* -------------------------------- */
.pagination {
	float: right;
	margin: 15px auto;
	display: flex;
	list-style: none;
	outline: none;
}
.pagination > .active > a{
  background-color: #EB1F27 ;
  
  color: #fff;
}
.pagination > li > a{
	border: 1px solid #e9ecef;
	padding: 5px 10px;
	outline: none;
	cursor: pointer;
	background: #ffff;
	border-radius: 4px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #EB1F27 ;
  
  list-style: none;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #333333
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}
.pagination > li > a:hover{
	text-decoration: none;
	background: #EB1F27;
	border-radius: 4px;
	color: #FFF;
}
